
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<view>
 <header-bar
 title="'Favors'"

 type="bar-positive"
 align-title="center">
</header-bar>



<nav-view></nav-view>


<div class="tabs">
  <a class="tab-item" ui-sref="app.favors">
    Favors
  </a>
  <a class="tab-item" ui-sref="app.favors">
    Favorites
  </a>
  <a class="tab-item">
    Settings
  </a>
</div>
</view>

