	<content has-header="false" padding="false">

<!-- 		<header class="bar bar-header bar-dark">
			<h1 class="title">Favors App</h1>
		</header> -->

		<div class="padTop">
			<div class="row">
			  <div class="col col-33 col-offset-33">		
			  	<img src="/icons/father120x120.png">
			  </div>
			</div>  
			<!-- form when submitted should go invoke login function -->

			<form class="list list-inset">
<!-- 			  <label class="item item-input">
			    <input type="text" placeholder="Email">
			  </label> -->
				<label class="item item-input">
				    <span class="input-label">Username</span>
				    <input type="text">
				</label>			  
				<label class="item item-input">
		  	    	<span class="input-label">Password</span>
				    <input type="password">
			    </label>
<!-- 			  <label class="item item-input">
			    <input type="text" placeholder="Password">
			  </label> -->
			  <button class="button button-block button-balanced" ontouchend="login"()>Login</button>
			</form>
			<div class="list-inset">
				
			<h5>No login? </h5>
			  <button class="button button-block button-positive" ontouchend="register()">Register Now</button> 
			</div>
		</div>
	</content> 